.puzzle-view-container {
    height: 100%;
    width: 100%;
    padding: 20px;
}

.carouselContainer {    
    height:100%;
    width:100%;
    padding: 10px;
    text-align: center;
    @include themify() {
        border: 1px solid getThemifyVariable("ide-border-color");
    }
}

.carouselItem {
    padding: 50px;
    display: inline-block;
    vertical-align: middle;
}

.carouselItem img {
    max-width: 50%;
    height: auto;
    padding: 20px;
}

.arrow {
    position: absolute;
    z-index: 2;
    top: calc(50% - 15px);
    width: 50px;
    height: 50px;
}

.nextButton {
    background-color: rgb(145, 181, 182);
    color: white;
    padding: 20px;
}

button:focus {
    outline: none;
    border: none;
}

