.puzzle-view-container {
    height: 100%;
    width: 100%;
    padding: 20px;
}

.carouselContainer {    
    height:100%;
    width:100%;
    padding: 10px;
    text-align: center;
    @include themify() {
        border: 1px solid getThemifyVariable("ide-border-color");
    }
}

.carouselItem {
    padding: 75px;
    display: inline-block;
    vertical-align: middle;
}

.carouselItem img {
    max-width: 50%;
    height: auto;
    padding: 20px;
}

.arrow {
    position: absolute;
    z-index: 2;
    top: calc(50% - 15px);
    width: 30px;
    height: 30px;
}

.indicator {
    color: #ededed;
    display: inline-block;
    margin: 0px 8px;
}

button:focus {
    outline: none;
    border: none;
}